/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   BASE STYLING
   ========================================================================== */


html {
    height: 100%;  /* Fix for Android/mobile - hero image gets cut off on small screen sizes */
}

a {
    text-decoration: none;
}

.closebtn {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    top: -3px;
    right: -3px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.closebtn:hover {
    background: #00d9ff;
}

.modal-base {
    display: none;
    position: fixed;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 0, 0);
    overflow: hidden; 
}

.dialog-base .content-base {
    margin: auto;
    text-align: center;
    height: auto;
}


/* ==========================================================================
   HERO IMAGE
   ========================================================================== */


body {
    background-image: url('hero.JPG');
    background-position: 18% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ==========================================================================
   NAVBAR
   ========================================================================== */

nav {
    position: fixed;
    bottom: 0;
}
.navbar {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 0.5em;
    padding-left: 0;
    margin: 0 4px 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar a {
    text-decoration: none;
    color: lightgray;
}

.navbar a:hover,
.navbar a:focus {
    color: white;
}

.navbar a:active,
.navbar a.highlight {
    color: white;
}

.navbar li {
    font-family: "Great Vibes";
    font-size: 1.3em;
    padding: 0.2em;
}

.navbar li:nth-child(8){
    display: none;   /* Hiding the Registry on mobile b/c modal window looks terrible */
}                        


/* ==========================================================================
   HEADLINE 
   ========================================================================== */


h1,
h5 {
    text-align: center;
    margin-bottom: 0;
    text-shadow: 2px 1px 0 #222;
}

h1 {
    font-family: "Calligraffitti";
    font-size: 2em;
    color: darkmagenta; /* Main Heading Color Needs Work */
    margin-top: 0.3em;
    line-height: 1em;
}


h5 {
    font-family: "Amatic SC";
    font-size: 1.7em;
    margin-top: 0;
    color: whitesmoke;
    display: none;
}


/* ==========================================================================
   INFORMATION MODAL 
   ========================================================================== */


.info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.info:target {
    display: block;
    position: absolute;
}

.info p, 
.info h1, 
.info h2, 
select {
    color: whitesmoke;
    margin: 1em;
    text-align: center;
    font-family: "existencelight"
}

.info h1 {
    font-size: 2em;
    font-family: "Amatic SC"
}

.info p,
.highlight {
    font-size: 1em;
    line-height: 1.5;
    font-family: "Antic Slab";
    text-align: left;
}

.info img {
    width: 50%;
    height: auto;
    margin: 0.5em;
    background-color: ghostwhite;
    padding: 0;
}

.module {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

select {
    background-color: black;
    width: 50%;
}

.highlight {
    color: red;
}

.number {
    color: whitesmoke;
    text-decoration: underline;
}

.venue-alert-visible {
    display: block;
}

.venue-alert-hidden {
    display: none;
}


/* ==========================================================================
   WEDDING MODAL 
   ========================================================================== */


.wedding {
    top: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.wedding:target {
    display: block;
    position: absolute;
}

.wedding p, 
.wedding h1 {
    color: whitesmoke;
    margin: 1em;
    text-align: center;
}

.wedding h1 {
    font-size: 2em;
    font-family: "Amatic SC"
}

.wedding p {
    font-size: 1em;
    font-family: "existencelight";
    line-height: 1.5;
    text-align: left;
}

.twentyone {
    text-decoration: underline;
    color: whitesmoke;
}

.venue {
    width: 35%; /* Using width as a percentage for responsive */
    margin: 0.5em;
    padding: 0;
}


/* ==========================================================================
   REGISTRY MODAL
   ========================================================================== */


.reg {
    top: 10%;
    right: 1%;
    width: 23%;
    background-color: rgba(0, 0, 0, 0.3);
}

.reg:target {
    display: block;
    position: absolute;
}

.retail a {
    text-decoration: none;
}

.retail img {
    width: 30%; /* Using width as a percentage for responsive */
    margin: 0.5em;
    background-color: ghostwhite;
    padding: 0.5em;
}


/* ==========================================================================
   BRIDAL PARTY MODAL
   ========================================================================== */


.bridal {
    top: 10%;
    background-color: rgba(0, 0, 0, 0.8);
}

.bridal:target {
    display: block;
    position: absolute;
}

.bridal-list {
    margin: 3em 0;
    text-align: center;
}

.bridal-images {
    width: 90px;
    height: 110px;
    object-fit: cover;
}

.guys,
.girls {
    display: inline-block;
    vertical-align: top;
}

.girls {
    width: 250px;
}

.guys {
    width: 340px;
    height: 110px;
}

.bridal h1,
.bridal h2,
.bridal h4,
.bridal p {
    color: whitesmoke;
    text-align: center;
}

.bridal h2,
.bridal h4 {
    font-family: "existencelight"; 
}

.bridal h1 {
    font-family: "Amatic SC";
    font-size: 2em;
}

.bridal h4 {
    font-size: 1.4em;
    margin: 0;
}

#sides {
    margin-top: 3em;
    font-size: 2em;
}

.adjust {
    display: inline-block;
    vertical-align: top;
}


/* ==========================================================================
   PHOTO MODAL
   ========================================================================== */


.photos {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.photos:target {
    display: block;
    position: absolute;
}

#photo {
    background-image: none;
    background-color: steelblue;
}
    
.thumbnail-container {
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.gallery-images {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border: none;
    padding: 1em;
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (min-width: 675px) {
    
    nav {
        position: relative;
    }
    
    
    .navbar li:nth-child(8) {
        display: inline;
    }
    
    .wedding,
    .bridal {
        left: 15%;
        width: 70%;
    }
    
    .number {
        pointer-events: none;
        text-decoration: none;/* disables phone # link in larger screen size */
    }
}


@media screen and (min-width: 1000px) {
    
    nav {
        width: 90%;
        margin: 0 auto;
    }

    body {
        background-image: url('hero.JPG');
        background-position: 15% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .reg {
        width: 23%;
        top: 10%;
        right: 5%;
    } 
    
    .wedding {
        left: 25%;
        width: 50%;
    }
    
    .info,
    .photos {
        left: 5%;
        width: 90%;
        top: 15%;
    }
    
    .module {
        width: 40%;
    }
    
    .venue-alert-visible {
        display: none;
    }
    
    .venue-alert-hidden {
        display: block;
    }
}


@media screen and (min-width: 1200px) {
    
    h1 {
        font-size: 2.5em;
    }
    
    h5 {
        font-size: 1.5em;
        display: block;
    }
    
    .info {
        left: 10%;
        width: 80%;
    }
}


@media screen and (min-width: 1300px) {
    
    h1 {
        font-size: 4.5em;
        text-shadow: 3px 2px 0 #222;
    }
    
    h5 {
        font-size: 2.5em;
        text-shadow: 3px 2px 0 #222;
    }
    
    .wedding {
        top: 20%;
    }
    
    .info {
        left: 25%;
        width: 50%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
